* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}


nav {
    height: 50px;
    background-color: black ;
   
    & .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h1 ,.logo {
           
            color: #fff;
        }
    }  
}

.container-wrapper-content  {

    display: flex;
    
    & aside {
   
        width: 300px;
    
        & .aside-wrapper {
           
            margin: 0 auto;
    
            & .search {
                
                width: 200px;
                height: 40px;
                margin-top: 10px;
                border-radius: 5px;
                padding-left: 20px;
                font-size: 15px;
                background-color: rgb(211, 208, 208);
                border: 0;

    
            }
    
            & .menu {
                margin-top: 20px;

              
             
                & li {
                    width: 200px;
                    height: 40px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    padding-left: 20px;
                    background-color: rgb(211, 208, 208);
                    border: 0;
                    list-style: none;
                    display: flex;
                    align-items: center;


                    & a {
                        
                        color: #222;
                        font-size: 15px;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    & .content-nike {
        display: flex;
        transition: transform 0.4s ;
        
       & .container-nike {
           
            margin: 10px 0px;
            border-radius: 10px;
            box-shadow: 0 0 10px gray;
            overflow: hidden;
            
        
            & .nike-info {
               height: 100%;
               
    
                & img {
                    
                    width: 220px;
                    height: 220px;
                }
            }
    
            & .nike-text {
    
                margin: 20px;
    
                & .title {
                    font-size: 20px;
                    margin: 10px 0;
                }
                & .title:nth-of-type(2) {
                    font-size: 17px;
                    margin: 10px 0;
                }
    
                & .star {
                    color: orange;
                }
            }
    
            & .pick-color {
                margin: 20px;
               
                & .circle {
                    margin-top: 10px;
                    display: flex;
                    
                    & .circle-orange {
                        cursor: pointer;
                        background-color: orange;
                        margin-right: 8px;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        border: 1px solid black; 
                    }
    
                    & .circle-blue {
                        cursor: pointer;
                        background-color: blue;
                        margin-right: 8px;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        border: 1px solid black; 
                    }
                  
                }
              
               
            }
    
            & .cart-btn{
              
                margin: 20px;
               
             
                & .add-to-cart {
                    cursor: pointer;
                    background-color:orange;
                    width: 100px;
                    height: 30px;
                    border-radius: 5px;
                    font-size: 12px;
                    font-weight: bold;
                }
    
                & .cart-added {
                    cursor: pointer;
                    background-color:rgb(158, 158, 158);
                    width: 100px;
                    height: 30px;
                    border-radius: 5px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
    
        }
     }
    
}

.content-nike:hover {
  transform: scale(1.05);
}



 .content-popup {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;

   & .container-popup {

        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 800px;
        transform: translate(-50%, -50%);
        background-color: #fff;
        margin: 10px 0px;
        border-radius: 10px;
        box-shadow: 0 0 10px gray;
        overflow: hidden;

      .popup-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h1 {
          
            margin: 15px;
        }

        & span {
            font-size: 30px;
            margin-right: 10px;
            cursor: pointer;
        }
      }

        & .container-popup-wrapper {
            
                display: flex;
                           
                & .popup-info-left {
            
                    margin-left: 15px;
       
                
                & .popup-image {
                   
                    & img {
                        border-radius: 10px;
                        margin-top: 10px 0;
                        width: 250px;
                        height: 282PX;

                        }
                    }
                }

                & .popup-info-right-wrapper {
                    margin-left: 30px;  
                    width: 500px;

                    & .popup-info-right{
                

                        & .popup-text {
                        
                        
                            & .title-popup:nth-of-type(1) {
                                font-size: 30px;
                            }

                            & .title-popup:nth-of-type(2) {
                                font-size: 20px;
                                margin-bottom: 20px;
                            }

                            & p {
                                opacity: 70%;
                            }
            
                    }
            
                    & .popup-pick-color {
                        margin-top: 20px;
                    
                        & .popup-circle {
                            margin-top: 10px;
                            display: flex;
                            
                            & .popup-circle-color {
                                cursor: pointer;
                                
                                margin-right: 8px;
                                border-radius: 50%;
                                width: 30px;
                                height: 30px;
                                border: 1px solid black; 
                            }
        
                        
                        }
                    
                    
                    }
            
                    & .popup-cart-btn{
                        margin: 20px 0;
                    
                    
                        & .add-to-cart {
                            cursor: pointer;
                            background-color:orange;
                            width: 100px;
                            height: 30px;
                            border-radius: 5px;
                            font-size: 12px;
                            font-weight: bold;
                        }
            
                        & .cart-added {
                            cursor: pointer;
                            background-color:rgb(158, 158, 158);
                            width: 100px;
                            height: 30px;
                            border-radius: 5px;
                            font-size: 12px;
                            font-weight: bold;
                                }
                            }

                    }   

                }

         }

    }


 }

 
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black ;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        color: white;
    }
}